.about-us-container {
    width: 100%;
}

  .about-us-heading {
    font-size: 15px;
    font-weight: bold;
    color: #333;

  }

  .about-us-description {
    font-size: 14px;
    color: #666;
    text-align: center;
  }

  .about-us-content {
    font-size: 1px;
  
  }

  @media (max-width: 768px) {
    .about-us-container {
      max-width: 90vw;
    }

    .about-us-description {
      font-size: 12px;
    }

    .about-us-content {
      font-size: 12px;
    }
  }